@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Paytone+One&display=swap');

p, ul{
  font-family: 'Josefin Slab', serif;
}
a{
  font-family: 'Josefin Slab', serif;
  color: #099999;

}
h1{
  font-family: 'Paytone One', sans-serif;

}
#main{
  color: #099999;
  font-size: 70px;
}


header{
  background-color: pink;
  width: 940px;

  height: auto;
  padding: 30px 30px 20px 30px;

  border-width: 5px 5px 5px 5px;
  border-color: #1259cc;

  margin: 10px auto 30px auto;
  margin: 0 auto;
  margin-top: -10px;
}

#grid1{
  background-color: pink;
width: 940px;

height: auto;
padding: 30px 30px 20px 30px;

border-width: 5px 5px 5px 5px;
border-color: #1259cc;
border-style: single;

margin: 10px auto 30px auto;
margin: 0 auto;
margin-top: -10px;
}

#grid7{
  background-color: #099999;
width: 940px;

height: 200px;
padding: 30px 30px 20px 30px;


margin: 10px auto 30px auto;
margin: 0 auto;
margin-top: -10px;
}

.hello{
  width: 300px;
  margin: 0 auto;
}




#grid2, #grid3, #grid4, #grid6, #grid8,  #grid11 {
  background-color: pink;
width: 940px;

height: auto;
padding: 30px 30px 20px 30px;

border-width: 5px 5px 5px 5px;
border-color: #1259cc;
border-style: single;

margin: 10px auto 30px auto;
margin: 0 auto;
margin-top: -10px;

}

#grid5{
  background-color: pink;
width: 910px;

height: auto;
padding: 30px 30px 20px 30px;

border-width: 5px 5px 5px 5px;
border-color: #1259cc;
border-style: single;

margin: 10px auto 30px auto;
margin: 0 auto;
margin-top: -10px;
}

#grid6{
  background-color: #099999;
width: 800px;
height: 350px;
padding: 30px 30px 20px 30px;

border-width: 5px 5px 5px 5px;
border-color: #1259cc;
border-style: single;

margin: 10px auto 30px auto;
margin: 0 auto;
margin-top: -10px;
}



#profile{
  width: 500px;
  height: 0 auto;
}

.links{
  text-decoration: none;
}

#main{
  display: center;
}

#facebooklink{
  text-align: center;
}

h1{
  text-align: center;
}

#profile{
  display: block;
  margin: 0 auto;
}

#insta {
  text-align: center;
}


#img1{
  width: 245px;
  height: 200px;
  padding-right: 30px;
  padding-left: 30px;

}
#img2{
  width: 150px;
height: 200px;
 padding-right: 30px;

}
#img3{
  width: 230px;
  height: 200px;
  padding-right: 30px;

}

#img4{
  width: 150px;
   height: 200px;
   padding-right: 25px;

}

#cookbook{
    width: 850px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
    vertical-align: top;
    font-size: 28px;

}

#COOK{
  width: 250px;
  height: 300px;
  display: block;
 margin-left: auto;
 margin-right: auto;

}

#fbgroup{
  text-decoration: disk;
}



#train{
  width: 830px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 10px;

}

#linksimg{
  width: 180px;
  height: 220px;
  margin-left: 25px;
}


#fbp{
  width: 300px;
  height: 400px;
}



#fbintro, #fbgroup{
  font-size: 22px;
}

#train{
  font-size: 25px;
}

#mentalhealth{
  font-size: 21px;
}

#links{
    width: 500px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
    vertical-align: top;
    font-size: 28px;

}

#contactinfo{
  font-size: 17px;
  text-align: center;
}

#grid10{
  background-color: pink;
width: 800px;
height: 400px;

height: auto;
padding: 30px 30px 20px 30px;

border-width: 5px 5px 5px 5px;
border-color: #1259cc;
border-style: single;

margin: 10px auto 30px auto;
margin: 0 auto;
margin-top: -10px;

}

#SHOP, #FACEBOOK{
  font-size: 50px;
}


#food1, #food2, #food3, #food4, #food5{
  width: 170px;
  height: 150px;
  padding: 7px;
  border-radius: 80%
}

#ella{
  width: 250px;
  margin-top: -570px;
  margin-left: 500px;

}
#contactinfo{
width: 500px;
display: inline-block;
margin-left: 30px;
margin-right: 10px;
vertical-align: top;
font-size: 28px;}

#CONTACT{
  margin-right: 225px;
  margin-top: 1.5px;
  font-size: 40px;
}



#fbgroup{
    width: 500px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
    vertical-align: top;
    font-size: 28px;
    line-height: 38pt;
}

#fbtitle{
  font-size: 40px;
  margin-left: -20px;
margin-top: -150px;
}

#MENTALHEALTH{
  width: 100px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 10px;
  vertical-align: top;
  font-size: 40px;
  margin-bottom: -83px;

}

#mentalhealth{

  width: 500px;
  display: inline-block;
  margin-left: 300px;
  margin-right: 10px;
  vertical-align: top;
  font-size: 27px;
margin-top: -300px;
}

#MYSTORY{
  font-size: 40px;
}

#instalink, #contactlink1{
  color: black;
}

#buynow{
  text-align: center;
}

#TRAINING, #LINKSANDCODES{
  font-size: 40px;
}

#step1{
  text-align: left;
  margin-left: 40px;
}


nav ul li{
  list-style: none;
  display: inline-block;
padding: 16px;


}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

nav ul li:hover{
  background-color: #099999;
  border-radius: 55%
}
#handstand, #jump, #yay{
    width: 230px;
    height: auto;

    margin-right: 0px;
    padding: 30px;
    margin-left: 17px;
    border-radius: 25%;
  }



  .hello{
    width: 400px;
    padding: 5px;
  }

#logo{
  width: 400px;
}
